@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&text=Photo%20Caption%20Tool&family=Roboto:wght@400;700&display=swap');

*:focus {
  outline: none;
}

body {
  @apply bg-gray-100;
  font-family: 'Roboto', sans-serif;
}

ol>li, ul>li {
  @apply my-2;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  @apply bg-gray-100;
}

#loading-text {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-header {
  @apply text-3xl font-bold mb-4 text-gray-700;
}

.card {
  @apply bg-white rounded-lg shadow-md; 
}

.dark-card {
  @apply bg-gray-800;
}

.text-input {
  @apply w-full bg-white p-2 rounded-md border-2 border-gray-400 transition-colors duration-150;
}

.control-well {
  @apply bg-gray-200 p-2 mt-6 rounded-lg;
}

.control-title {
  @apply text-gray-700 text-lg text-center mb-2 font-bold;
}

.file-upload {
  @apply block border-dashed border-2 py-6 border-gray-400 w-full cursor-pointer text-center bg-white text-gray-600 rounded-md px-3 font-bold transition-colors duration-150;
}

label.file-upload-over {
  @apply bg-green-200 border-blue-500;
}

.btn {
  @apply block text-white text-sm rounded-md py-2 px-3 shadow-md transition-colors duration-200 font-bold;
}

.appearance-btn {
  @apply bg-white p-2 outline-none flex-grow transition-colors duration-200;
}

button.appearance-btn-on {
  @apply bg-gray-700 text-white;
}

.gold {
  background: linear-gradient(45deg, #4caffe 50%, #14e1fe 100%);
}
